.weather {
    display: inline-flex;
    width:50%;
}
.icon {
    max-width: 100px;
}
.weather-description {
    display: block;
}
.back {
    border: 8px solid skyblue;
    background: skyblue;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.list {
    border: 8px solid skyblue;
    background: white;
    border-radius: 20px;
    color: deepskyblue;
    font-weight: bold;
}
.main {
    border:15px solid skyblue;
    border-radius: 20px;
    padding: 20px;
    margin:0 auto;
    max-width: 400px;
    color:deepskyblue;

}
.button {
    text-align: center;
    margin-top: 20px;
}
.container {
    display:  flex;
}
.zone {
    width:50%;
}
.form-control {
    display: block;
    margin-bottom: 10px;
    border: 4px solid skyblue;
    background: white;
    border-radius: 20px;
    color: skyblue;
    font-weight: bold;
    padding: 4px;
    padding-left: 4px;
    padding-left: 5px;
}
.center {
    display: grid;
    justify-content: center;
}
.bottom-panel {
    text-align: center;
    display: block ruby;
}
.error {
    color: red;
}
.login-page {
    margin-top: -32px;
    margin-left: 100px;
    display: block ruby;
}