<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>What's the time!</title>

</head>

<body>

    <div style="border:15px solid skyblue;border-radius: 20px;padding: 50px; margin:0 auto; max-width: 400px;color:deepskyblue;">

        <h1>Change the zone:</h1>

        <div>
            <form action="#" th:action="@{/results}" th:object="${timeZone}" method="GET">
                <select th:field="*{zoneName}" >

                    <option value="" selected="selected">N/A
                    <option th:each="zone : ${zone}"
                            th:value="${zone}"
                            th:utext="${zone}"

>
                    </option>
                </select>



                <div><button type="submit">Submit</button> </div>
            </form>
        </div>






    </div>

</body>
</html>