<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>What's the time!</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>

<body>

    <div style="border:15px solid skyblue;border-radius: 20px;padding: 50px; margin:0 auto; max-width: 400px;color:deepskyblue;">

        <h1>Change the zone:</h1>

        <div>
            <form action="#" th:action="@{/results}" th:object="${timeZone}" method="GET">
                <select class="list" th:field="*{zoneName}" >

                    <option value="" selected="selected">N/A
                    <option th:each="zone : ${zone}"
                            th:value="${zone}"
                            th:utext="${zone}"

>
                    </option>
                </select>



                <div><br>
                    <input class="back" value='Submit' type='submit'/>
                </div>
            </form>
            <div class="container" th:style="${isVisible} ? 'display:flex' : 'display:none'">
                <div class="zone">
                    <h2>Last Zone:</h2>
                    <h3 th:text="${cookieZoneName}"></h3><br>
                    <h2>Last Time:</h2>
                    <h3 th:text="${cookieZoneValue}"></h3>

                </div>
                <div class="weather">
                    <div class="icon">
                        <img th:src="@{'http://openweathermap.org/img/wn/' + ${cookieIcon} + '@2x.png'}"/></div>
                    <div class="weather-description">
                        <h3 th:text="${cookieWeatherMain}"></h3>
                        <p th:text="${cookieDescription}"></p>
                        <p th:text="${cookieTemp}"></p>

                    </div>
                </div>
        </div>

        </div>




    </div>

</body>
</html>