<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>What's the time!</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>

<body>

    <div class="main">
        <div class="center">


            <h1>Login Page</h1>
            <form th:action="@{/login}" method="post">
                <div><label> User Name : <input type="text" name="username" class="form-control"> </label></div>
                <div><label> Password: <input type="password" name="password" class="form-control"> </label></div>
                <div><br>
                    <input class="back" value='Sign In' type='submit'/>
                </div>
            </form>
            <form action="#" th:action="@{/registration}">
                <input class="back login-page" value='Sign Up' type='submit'/>
            </form>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <div th:if="${param.error}" class="error">
                Invalid username or password.
            </div>

        </div>
    </div>
</body>
</html>