<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>

<body>
<body>

    <div class="main">
        <div class="center">
            <h1>Registration</h1>
            <form action="#" th:action="@{/registration}" th:object="${user}" method="POST">
                <input type="text" th:field="*{username}" class="form-control" id="username"
                       placeholder="Username" required autofocus>
                <span th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">Name Error</span>
                <input type="password" th:field="*{password}" class="form-control" id="password"
                       placeholder="Password" required>
                <input type="password" th:field="*{passwordConfirm}" class="form-control" id="passwordConfirm"
                       placeholder="Confirm password" required>

                <div><br>
                    <input class="back" value='Submit' type='submit'/>
                </div>
            </form>
            <form action="#" th:action="@{/login}">
                <input class="back login-page" value='Sign In' type='submit'/>
            </form><h2>test</h2>
            <p class="error" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error
            </p>
        </div>
    </div>
</body>
</html>